@use "../abstracts/mixins" as m;
@use "../abstracts/colors" as *;

.footer {
  padding: 66px 24px 64px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__myteam {
    margin-bottom: 24px;
  }
  &__logo {
    margin-bottom: 24px;
  }
  &__ul {
    display: flex;
    // align-items: center;
    justify-content: center;
  }
  &__li {
    font-size: 15px;
    line-height: 25px;
    padding: 0 8px;
  }
  &__address {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
    opacity: 0.6;
  }
  &__socialmedia {
    display: flex;
    justify-content: center;
    // margin-bottom: 16px;
  }
  &__icons {
    padding: 16px 8px;
  }
  &__copyright {
    opacity: 0.6;
  }
}

@include m.media(md) {
  .footer {
    padding: 56px 40px 40px 40px;
    justify-content: space-between;
    // align-items: flex-start;
    &__main {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &__myteam {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__ul {
      margin-left: 0;
      justify-content: flex-start;
    }
    &__li {
      padding: 0 24px 0 0;
    }
    &__links {
      width: 100%;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
    &__icons {
      padding: 16px 8px 16px 0;
    }
  }
}

@include m.media(lg) {
  .footer {
    flex-direction: row;
    padding: 56px 165px 40px 165px;
    &__main {
      flex-direction: row;
      width: 50%;
      text-align: left;
      justify-content: space-between;
    }
    &__myteam {
      justify-content: space-around;
    }
    &__links {
      width: 50%;
    }
    &__wrap {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      height: 100%;
    }
    &__address {
      margin-bottom: 0;
    }
  }
}
