$colors: (
  primary: (
    "green": #014e56,
    "coral": #f67e7e,
    "white": #ffffff,
  ),
  secondary: (
    "raptureblue": #79c8c7,
    "policeblue": #2c6269,
    "junglegreen": #004047,
    "sacramentogreen": #012f34,
    "darkgreen": #002529,
  ),
);
