@use "breakpoints" as *;
@use "colors" as *;

@mixin transition-ease() {
  transition: all 0.7s ease-in-out;
}

@mixin btn-primary-light {
  width: 153px;
  height: 48px;
  border-radius: 24px;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 40px;
  &:hover {
    color: #014e56;
    background: #ffffff;
    border: 2px solid #014e56;
  }
}

@mixin btn-primary-light-mobile {
  width: 100px;
  height: 48px;
  border-radius: 24px;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  &:hover {
    color: #014e56;
    background: #ffffff;
    border: 2px solid #014e56;
  }
}

@mixin btn-primary-green {
  border-radius: 24px;
  border: 2px solid $sacramentogreen;
  padding: 10px 40px;
  &:hover {
    color: #ffffff;
    background: $sacramentogreen;
    border: 2px solid #014e56;
  }
}

@mixin btn-about-circle {
  width: 60px;
  height: 60px;
  background: $coral;
  border-radius: 50%;
  border: 0;
  &:hover {
    background: $photoblue;
  }
}

@mixin btn-primary-submit {
  height: 48px;
  border-radius: 24px;
  background: #ffffff;
  border: 2px solid #ffffff;
  color: $bgcolorgreen;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  &:hover {
    color: #ffffff;
    background: $bgcolorgreen;
    border: 2px solid #014e56;
  }
}

@mixin media($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
